<div class="row page-title">
    <div class="col-xs-6">
        <h2>商品列表</h2>
    </div>
    <div class="col-xs-6">
        <div class="pull-right">
            <button type="button" ng-click="gotoAddGoods()" class="btn btn-info btn-lg"><i class="fa fa-pencil-square-o"></i> 添加商品</button>
        </div>
    </div>
</div>

<div class="row" infinite-scroll="project.scroll()">
    <div class="col-sm-3" ng-repeat="project in projects">
        <div class="block-content" >
            <div class="content project-list nopadding" >
                <div class="project-title">
                    <img ng-src={{project.Imageurl}} style="height: 40px">
                    <a ng-href=""><h4>{{project.Shopname}}</h4></a>
                    <a ng-click="gotoEditGoods(project)"class="btn"><h6>编辑</h6></a>
                </div>
                <div class="project-info">
                    {{project.Memo}}
                </div>
                <table class="table" style="margin-bottom: 0px">
                    <tr>
                        <th class="text-center">
                            <span>佣金</span>
                            <span>{{project.Brokerage*0.01}}</span>
                        </th>
                        <th class="text-center">
                            <span>价格</span>
                            <span>{{project.SettingPrice*0.01}}</span>
                        </th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="text-center color-white" ng-show="project.loading">
    <h2><i class="fa fa-refresh fa-spin"></i></h2>
</div>
