<div class="row page-title">
    <div class="col-xs-6">
        <h2>店铺列表</h2>
    </div>
    <div class="col-xs-6">

        <div class="pull-right">
            <button type="button" ui-sref="main.projects.addShop" class="btn btn-info btn-lg"><i class="fa fa-pencil-square-o"></i> 添加店铺</button>
        </div>
        <div class="pull-right">
            <input type="text" placeHolder="Search" ng-model="query" class="form-control" style="margin-top: 5px;padding-right: 10px">
        </div>
    </div>
</div>
<div class="row" infinite-scroll="project.scroll()">
    <div class="col-sm-3" ng-repeat="project in projects | filter : query ">
        <div class="block-content">
            <div class="content project-list nopadding" >
                <div class="project-title">
                    <img ng-src={{project.ImageUrl}} style="height: 40px">
                    <a ng-click="gotoGoodsList(project)"><h4>{{project.Shopname}}</h4></a>
                    <a ng-click="gotoEditShop(project)"  class="btn"><h6>编辑</h6></a>
                </div>
                <div class="project-info">
                    {{project.Memo}}
                </div>
                <div class="project-users">
                    <ul class="users-list">
                        <li> <img src="http://img2.imgtn.bdimg.com/it/u=2596377144,2633147124&fm=21&gp=0.jpg" class="flaticon" style="width: 40px">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-center color-white" ng-show="project.loading">
    <h2><i class="fa fa-refresh fa-spin"></i></h2>
</div>
