<div class="row page-title">
    <div class="col-xs-12">
        <h3>Infinite Scroll Table</h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-13">
        <div class="block-content todo-list">
            <div class="header" style="position:relative">
                <div class="title"><i class="fa fa-tasks"></i> Recent Tasks ( 12 )</div>
                <div class=" pull-right" style="top: 0px; margin-top: -26px;">
                    <input type="text" placeHolder="Search" ng-model="query" class="form-control">
                </div>
            </div>
            <div class="content nopadding row">
                <div class="col-sm-13">
                    <div class="col-md-2 col-xs-10">
                        <button style="margin-left: 20px"  class="btn btn-sm btn-default pull-left" ng-click="toast.create('Task Done! Success.','success')">导出记录</button>
                        <button  class="btn btn-sm btn-default pull-left" ng-click="toast.create('Task Done! Success.','success')">审核选择项</button>
                    </div>
                </div>
            </div>

            <div class="content nopadding">
                <div class="task-list"  infinite-scroll="todo.scroll()">
                    <div class="row" ng-repeat="item in todo.list  | filter : query ">
                        <div class="col-md-5  col-xs-12">
                            <input type="checkbox" name="checkboxG{{$index}}" id="checkboxG{{$index}}" class="css-checkbox">
                            <label for="checkboxG{{$index}}" class="css-label"></label> {{item.title}}
                        </div>
                        <div class="col-md-1 col-xs-1 text-center">
                            <label class="css-lable">取现金额</label>
                            <span class="label label-info">100元</span>
                        </div>
                        <div class="col-md-1  col-xs-1 text-center">
                            <label class="css-lable">账户资产</label>
                            <span class="label label-info">100元</span>
                        </div>
                        <div class="col-md-1  col-xs-1 text-center">
                            <label class="css-lable">利息</label>
                            <span class="label label-info">10元</span>
                        </div>
                        <div class="col-md-1 col-xs-1 text-center">
                            <span class="label label-success" ng-show="item.status == 'success'">取现成功</span>
                            <span class="label label-warning" ng-show="item.status == 'warning'">等待审核</span>
                            <span class="label label-danger" ng-show="item.status == 'primary'">正在汇款</span>
                            <span class="label label-primary" ng-show="item.status == 'danger'">取现失败</span>
                        </div>
                        <div class="col-md-1 col-xs-1 text-center">{{item.date | date:'mediumDate'}}</div>
                        <div class="col-md-2  col-xs-1 text-center">
                            <button ng-show="item.status == 'warning'" class="btn btn-sm btn-success" ng-click="toast.create('Task Done! Success.','success')">审核通过</button>
                            <button ng-show="item.status == 'warning'" class="btn btn-sm btn-danger" ng-click="toast.create('Task Done! Success.','success')">审核失败</button>
                            <button ng-show="item.status == 'success'" class="btn btn-sm btn-warning" ng-click="toast.create('Task Done! Success.','success')">取消审核</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center color-white" ng-show="todo.loading">
            <h2><i class="fa fa-refresh fa-spin"></i></h2>
        </div>
    </div>
</div>
