<div class="row page-title">
    <div class="col-xs-12">
        <h3>申请取现</h3>
    </div>
</div>


<div class="block-content">
    <div class="header" style="position:relative">
        <div class="title"><i class="fa fa-tasks"></i>申请个数 ( {{todo.size}} )</div>
        <div class=" pull-right" style="top: 0px; margin-top: -26px;">
            <input type="text" placeHolder="Search" ng-model="query" class="form-control">
        </div>
    </div>
    <div class="task-list"  infinite-scroll="todo.scroll()">
        <table class="am-table am-table-hover">
            <thead>
            <tr>
                <th>用户名称</th>
                <th>用户支付宝帐户</th>
                <th>取现金额</th>
                <th>用户本金</th>
                <th>用户利息</th>
                <th>用户审核中金额</th>
                <th>用户总资产</th>
                <th>申请时间</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in todo.list  | filter : query ">
                <td>{{item.Shopname}}</td>
                <td><img style="width:30px;height: 30px" src="../../../img/shop-11-1453566823.png" alt="{{item.account}}"></td>
                <td>{{item.GoodsName}}</td>
                <td>{{item.CategroyName}}</td>
                <td>{{item.Realname}}</td>
                <td>{{item.Taobaoaccount}}</td>
                <td>{{item.Requirelevel}}</td>
                <td>
                    <span class="label label-success" ng-show="item.State == '2'">刷单成功</span>
                    <span class="label label-warning" ng-show="item.State == '1'">等待审核</span>
                    <span class="label label-danger" ng-show="item.State == '0'">正在刷单</span>
                    <span class="label label-primary" ng-show="item.State == '3'">审核失败</span>
                </td>
                <td>{{item.Updatetime*1000 | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td>
                    <button ng-show="item.State == '1'" class="btn btn-sm btn-success" ng-click="changeOrderState(item,2)">审核通过</button>
                    <button ng-show="item.State == '1'" class="btn btn-sm btn-danger" ng-click="changeOrderState(item,3)">审核失败</button>
                    <button ng-show="item.State == '2'" class="btn btn-sm btn-warning" ng-click="changeOrderState(item,1)">取消审核</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="text-center color-white" ng-show="todo.loading">
    <h2><i class="fa fa-refresh fa-spin"></i></h2>
</div>