<div class="row page-title">
    <div class="col-xs-12">
        <h3>Chart.JS</h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="block-content">
            <div class="header">
                <span class="title">Line Chart</span>
            </div>
            <div class="content">
                <canvas id="line" class="chart chart-line" data="data" labels="labels" legend="true" series="series" click="onClick">
                </canvas>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="block-content">
            <div class="header">
                <span class="title">Line Chart</span>
            </div>
            <div class="content">
                <canvas id="bar" class="chart chart-bar" data="data" labels="labels" colours="colours"></canvas>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-sm-6">
        <div class="block-content">
            <div class="header">
                <span class="title">Pie Chart</span>
            </div>
            <div class="content">
                <canvas id="pie" class="chart chart-pie" data="pie_data" labels="pie_labels"></canvas>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="block-content">
            <div class="header">
                <span class="title">Radar Chart</span>
            </div>
            <div class="content">
                <canvas id="radar" class="chart chart-radar" data="data" labels="labels"></canvas>
            </div>
        </div>
    </div>
</div>
