<div class="row page-title">
    <div class="col-xs-12">
        <h3>Form Example</h3>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="block-content">
            <div class="header">
                <span class="title">Login Form</span>
            </div>
            <form class="form-horizontal">
                <div class="content">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">Email</label>
                        <div class="col-sm-9">
                            <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-3 control-label">Password</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <td>
                                <input type="checkbox" name="checkboxG3" id="checkboxG3" class="css-checkbox">
                                <label for="checkboxG3" class="css-label">Remember me</label>
                            </td>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button type="submit" class="btn btn-primary">Sign in</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="block-content">
            <div class="header">
                <span class="title">Register Form</span>
            </div>
            <form class="form-vertical">
                <div class="content">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputFile">File input</label>
                        <input type="file" id="exampleInputFile">
                        <p class="help-block">Example block-level help text here.</p>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" name="checkboxG2" id="checkboxG2" class="css-checkbox">
                        <label for="checkboxG2" class="css-label">Check me out</label>
                    </div>
                </div>
                <div class="footer">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Sign up</button>
                        <button type="submit" class="btn btn-default">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row page-title">
    <div class="col-xs-12">
        <h3>Form Elements</h3>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="block-content">
            <div class="header">
                <span class="title">Disabled Element</span>
            </div>
            <form class="form-vertical">
                <div class="content">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Text Input</label>
                        <input type="text" class="form-control" placeHolder="Enter Text">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Text Input Disabled</label>
                        <input type="text" class="form-control" disabled="true">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">TextArea</label>
                        <textarea class="form-control" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">TextArea Disabled</label>
                        <textarea class="form-control" rows="3" disabled="true"></textarea>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

        <div class="block-content">
            <div class="header">
                <span class="title">Input Alert</span>
            </div>
            <form class="form-vertical">
                <div class="content">
                    <div class="form-group has-success">
                        <label class="control-label" for="inputSuccess1">Input with success</label>
                        <input type="text" class="form-control" id="inputSuccess1">
                    </div>
                    <div class="form-group has-warning">
                        <label class="control-label" for="inputWarning1">Input with warning</label>
                        <input type="text" class="form-control" id="inputWarning1">
                    </div>
                    <div class="form-group has-error">
                        <label class="control-label" for="inputError1">Input with error</label>
                        <input type="text" class="form-control" id="inputError1">
                    </div>
                    <div class="has-success">
                        <div class="checkbox">
                            <input type="checkbox" id="checkboxSuccess" value="option1">
                            <label for="checkboxSuccess">
                                Checkbox with success
                            </label>
                        </div>
                    </div>
                    <div class="has-warning">
                        <div class="checkbox">
                            <input type="checkbox" id="checkboxWarning" value="option1">
                            <label for="checkboxWarning">
                                Checkbox with warning
                            </label>
                        </div>
                    </div>
                    <div class="has-error">
                        <div class="checkbox">
                            <input type="checkbox" id="checkboxError" value="option1">
                            <label for="checkboxError">
                                Checkbox with error
                            </label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="block-content">
            <div class="header">
                <span class="title">Input Group</span>
            </div>
            <form class="form-vertical">
                <div class="content">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">@</span>
                            <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">
                            <span class="input-group-addon" id="basic-addon2">@example.com</span>
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">$</span>
                            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                            <span class="input-group-addon">.00</span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
